#home {
  background-color: $red;
  color: $cream;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  p {
    margin-top: 1.5em;
  }
  a {
    color: $light-blue;
    font-weight: bold;
    font-size: 16px;
    &:hover{
      color: $blue;
    }
  }
}
